body {
  background-color: white; 
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom:20%;  
}
img{ 
  border-style: solid;
}
h1 {
  color: black;
}
h2 { 
  color: black;
  }
a {
  color: black;
}
