body {
  width: 50%;
  background-color:white; 
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom:25%; 
  margin-top: 5%; 
}
div{
  border-style: solid;
  text-align:center; 
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom:25%; 
  margin-top: 25%; 
  background-color:rgb(211, 211, 211);
   
}
img{ 
  width: 50%;
  border-style: solid;
}
h1 {
  width: 100%;
  color: black;
}
h2 {
  width: 100%; 
  color: black;
}
a {
  width: 100%;
  color: black;
}
